<section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="page-name">{{ page.title | escape }}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ routes.root_url }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title | escape }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

 